*/.metadata
*.axf
*.o
*.d
*.mk
build-potenciostato_inicial-Desktop_Qt_5_12_11_MinGW_32_bit-Debug/*
build-potenciostato_inicial-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/*
build-potenciostato_inicial-Desktop_Qt_5_12_11_GCC_64bit-Debug/*
build-potenciostato_inicial_SEBA-Desktop_Qt_5_12_11_GCC_64bit-Debug/*
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/liblpc_board_nxp_lpcxpresso_1769.a
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/board.d
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/board.o
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/board_sysinit.d
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/board_sysinit.o
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/lpc_phy_smsc87x0.d
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/lpc_phy_smsc87x0.o
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/src/subdir.mk
workspace/lpc_board_nxp_lpcxpresso_1769/Debug/makefile
workspace/lpc_chip_175x_6x/Debug/liblpc_chip_175x_6x.a
workspace/lpc_chip_175x_6x/Debug/src/adc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/adc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/can_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/can_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/chip_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/chip_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/clock_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/clock_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/cmp_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/cmp_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/crc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/crc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/dac_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/dac_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/eeprom_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/eeprom_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/emc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/emc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/enet_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/enet_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/gpdma_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/gpdma_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/gpio_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/gpio_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/gpioint_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/gpioint_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/i2c_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/i2c_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/i2s_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/i2s_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/iap.d
workspace/lpc_chip_175x_6x/Debug/src/iap.o
workspace/lpc_chip_175x_6x/Debug/src/iocon_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/iocon_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/lcd_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/lcd_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/pmu_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/pmu_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/ring_buffer.d
workspace/lpc_chip_175x_6x/Debug/src/ring_buffer.o
workspace/lpc_chip_175x_6x/Debug/src/ritimer_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/ritimer_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/rtc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/rtc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/sdc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/sdc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/sdmmc_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/sdmmc_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/spi_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/spi_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/ssp_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/ssp_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/stopwatch_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/stopwatch_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/subdir.mk
workspace/lpc_chip_175x_6x/Debug/src/sysctl_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/sysctl_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/sysinit_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/sysinit_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/timer_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/timer_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/uart_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/uart_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/src/wwdt_17xx_40xx.d
workspace/lpc_chip_175x_6x/Debug/src/wwdt_17xx_40xx.o
workspace/lpc_chip_175x_6x/Debug/makefile
workspace/potenciostato/Debug/example/src/cr_startup_lpc175x_6x.o
workspace/potenciostato/Debug/example/src/hid_desc.d
workspace/potenciostato/Debug/example/src/hid_desc.o
workspace/potenciostato/Debug/example/src/hid_generic.d
workspace/potenciostato/Debug/example/src/hid_generic.o
workspace/potenciostato/Debug/example/src/main.d
workspace/potenciostato/Debug/example/src/main.o
workspace/potenciostato/Debug/example/src/setup.d
workspace/potenciostato/Debug/example/src/setup.o
workspace/potenciostato/Debug/example/src/subdir.mk
workspace/potenciostato/Debug/example/src/sysinit.d
workspace/potenciostato/Debug/example/src/sysinit.o
workspace/potenciostato/Debug/freertos/src/FreeRTOSCommonHooks.d
workspace/potenciostato/Debug/freertos/src/FreeRTOSCommonHooks.o
workspace/potenciostato/Debug/freertos/src/heap_3.d
workspace/potenciostato/Debug/freertos/src/heap_3.o
workspace/potenciostato/Debug/freertos/src/list.d
workspace/potenciostato/Debug/freertos/src/list.o
workspace/potenciostato/Debug/freertos/src/port.d
workspace/potenciostato/Debug/freertos/src/port.o
workspace/potenciostato/Debug/freertos/src/queue.d
workspace/potenciostato/Debug/freertos/src/queue.o
workspace/potenciostato/Debug/freertos/src/subdir.mk
workspace/potenciostato/Debug/freertos/src/tasks.d
workspace/potenciostato/Debug/freertos/src/tasks.o
workspace/potenciostato/Debug/makefile
workspace/potenciostato/Debug/potenciostato.axf
workspace/potenciostato/Debug/potenciostato.map
workspace/potenciostato/Debug/potenciostato_Debug.ld
workspace/potenciostato/Debug/potenciostato_Debug_library.ld
workspace/potenciostato/Debug/potenciostato_Debug_memory.ld
workspace/potenciostato/potenciostato Debug.launch
workspace/potenciostato/Debug/potenciostato_Debug.ld
workspace/potenciostato/Debug/potenciostato_Debug_library.ld
workspace/potenciostato/Debug/potenciostato_Debug_memory.ld
qt/potenciostato_inicial.pro.user
workspace/Sintetizador_v1.0/.settings/language.settings.xml
workspace/freertos_blinky/.settings/language.settings.xml
workspace/potenciostato/potenciostato Release (1).launch
workspace/usbd_lib_hid_generic/.settings/language.settings.xml
workspace/usbd_lib_hid_keyboard/.settings/language.settings.xml
workspace/.mcuxpressoide_packages_support/
workspace/AzureRTOS_TAD_logs/
workspace/FreeRTOS_TAD_logs/
workspace/lpc_board_nxp_lpcxpresso_1769/.settings/
workspace/lpc_chip_175x_6x/.settings/
workspace/periph_adc/.settings/
workspace/periph_timer/.settings/language.settings.xml
workspace/potenciostato/Debug/example/src/cr_startup_lpc175x_6x.su
workspace/potenciostato/Debug/example/src/hid_desc.su
workspace/potenciostato/Debug/example/src/hid_generic.su
workspace/potenciostato/Debug/example/src/main.su
workspace/potenciostato/Debug/example/src/setup.su
workspace/potenciostato/Debug/example/src/sysinit.su
workspace/potenciostato/Debug/freertos/
workspace/potenciostato/potenciostato LinkServer Debug.launch